@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">SAMAのこと大好き！</h1>
</div>
<script>
    console.log('@ViewData["Message2"]');
    console.log('@ViewData["Message3"]');
    console.log('@ViewData["Message4"]');
    console.log('@ViewData["Message5"]');
</script>