@model AzurePJ.Models.FamilyUsersLogin

@{
    ViewData["Title"] = "Sign in";
}

<div class="center-wrapper">
    <div class="form-box">
        @* <img src="~/img/catm.jpeg" class="cat-bg" alt="Family Cat" /> *@
        <h2 class="form-title">おかえり～💖</h2>
        <form asp-action="Index" asp-controller="FamilyUsersLogins" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="UserName" class="form-label">名前🐈</label>
                <input asp-for="UserName" name="UserName" class="form-input" placeholder="" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="form-label">パスワード🐾</label>
                <input asp-for="Password" name="Password" class="form-input" type="password" placeholder="" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button class="cool-btn" type="submit" id="loginBtn">おうちに入る🏡</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        initLoveButton('#loginBtn');
    </script>
}

