@model List<string>
@{
    ViewData["Title"] = "フォルダ一覧";
}

<h2>「mengmeng」コンテナのフォルダ一覧</h2>
<ul>
    @foreach (var folder in Model)
    {
        <li>
            <a asp-action="Folder" asp-route-id="@folder">@folder</a>
        </li>
    }
</ul>
