@model List<string>

<div class="album-header d-flex align-items-center justify-content-between mb-3">
    <h2 class="album-title m-0">♡アルバム♡</h2>
    <button class="cool-btn album-create-btn" onclick="location.href='/Albums/Create'">アルバムを作成</button>
</div>

<ul class="album-list">
    @foreach (var folder in Model)
    {
        <li class="album-item">
            <a class="thumbnail-link" href="/Albums/Folder?name=@folder">
                <div class="thumbnail-img-container">
                    <span class="thumbnail-placeholder">@folder</span>
                </div>
            </a>
        </li>
    }
</ul>
